body {
   
  margin: 0;
  background-color: #faf0f9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
ul {
    list-style-type: none; /* Elimina los puntos predeterminados */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
    display: flex; /* Usa un contenedor flexbox */
    justify-content: center; /* Centra horizontalmente */
    padding: 5px;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 18px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111;
}

.texto{
    text-align: justify;
    font-size: 20px;
    color: #111;
    padding: 3% 10%;
}

.texto h2{
    text-align: center;
    font-size: 30px;
    color: #111;
    padding: 3% 10%;
}

#logo {
  max-width: 107px; /* Tamaño máximo del logo */
  min-width: 50px;  /* Tamaño mínimo del logo */
  width: auto;      /* Ajuste automático según el contenedor */
  height: auto;     /* Mantener proporciones */
  object-fit: contain; /* Prevenir deformaciones */
  display: block;   /* Asegurarse de que es un bloque */
  margin: 0 auto;   /* Centrar el logo */
}

#logo:hover{

    background-color: #111;
}

#barra_de_nav{
    position: fixed; /* Fija el elemento en la pantalla */
    top: 0; /* Posición desde la parte superior */
    
    left: 0; /* Posición desde la izquierda */
    background-color: #c3a2c1; /* Color de fondo #c3a2c1 */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */

    
    
}

#barra_de_nav .col.span1 {
  display: flex;          /* Flexbox para centrar */
  align-items: center;    /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

.elementos-body{
    padding-top: 6%; 
    
}
footer{
    background-color: #c3a2c1;
    color: white;
    text-align: center;
    padding: 3px;
    bottom: 0;
    width: 100%;
    position: bottom;
    margin-top: auto; 
}

.imagen{

    width: calc(var(--tcolumna) * 6);
}



.barra-footer {
  background-color: #f8f9fa;
  padding: 15px;
  left: 0;
  text-align: center;
  border-top: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex; /* Flexbox para disposición en fila */
  justify-content: space-between; /* Espaciado entre los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
}

.footer-logo img {
  height: 40px;
}

.footer-links {
  display: flex; /* Flexbox para enlaces */
  gap: 15px; /* Espaciado entre los enlaces */
}

.footer-links a {
  text-decoration: none;
  color: #007bff;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copia {
  color: #6c757d;
  font-size: 12px;
}

.contact-section {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.contact-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  text-align: left;
  font-size: 14px;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.about-us, .our-mission, .our-values, .team {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-us h1, .our-mission h2, .our-values h2, .team h2 {
  text-align: justify;
  margin-bottom: 15px;
  color: #333;
}

.about-us p, .our-mission p, .team p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

.our-values ul {
  list-style: none;
  padding: 0;
}

.our-values ul li {
  margin: 10px 10px;
  font-size: 16px;
  color: #555;
}

.our-values ul li strong {
  color: #007bff;
}

.services-intro, .services-list, .additional-services {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.services-intro h1, .services-list h2, .additional-services h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.services-intro p, .services-list p, .additional-services p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: justify;
}

.services-list, .additional-services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.services-list .col, .additional-services .col {
  flex: 1 1 calc(50% - 20px);
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}



@media (max-width: 768px) {
  #logo {
      max-width: 80px; /* Reducir el tamaño máximo */
      min-width: 40px; /* Reducir el tamaño mínimo */
  }
  #barra_de_nav .col.span1 {
      justify-content: flex-start; /* Logo a la izquierda */
  }
  .col {
    float: none; /* Quita el efecto flotante */
    width: 100%; /* Haz que ocupen todo el ancho disponible */
}
}




/*Código Slider W3S */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 55%;
  position: relative;
  margin: auto;
  margin-top: 50px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
